*{
    margin: 0;
    padding: 0;
}

.left{
    float: left;
    background-color: #fff;
    width: 50%;
    height: 100vh;
}

.wrapper{
    width: 80%;
    margin: auto;
    margin-top: 5%;
}

.logo{
    font-size: 20px;
}

.hero-text{
    margin-top: 17%;
    margin-bottom: 7%;
}

.hero-text h2{
    color: #d6c360;
    text-transform: uppercase;
    margin-bottom: 3%;
}
.hero-text h1{
    font-size: 90px;
}
.btn{
    border: none;
    background-color: #f4d763;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    color: #fff;
}

.footer{
    margin-top: 40%;
    color: gray;
}


.right{
    float:left;
    background-color: #f4d763;
    width: 50%;
    height: 100vh;
}
.anonymous img{
    width: 100%;
}